<div class="home">
    <div class="wrapper noselect">
        <img class="logo" src="/images/logo.svg">
        <h1>Helix.Chat</h1>
                <div class="info">
            <p> A simply beautiful way to have a group conversations over text, voice, pictures.</p>
            <p>No signup. On any device. On any platform.</p>
        </div>
        <form ng-submit="go()" class="nameGen">
            <input ng-model="genName" />
            <button ng-click="go()">GO!</button>
        </form>
    </div>
    <div id="particles-js"></div>
</div>
