<button ng-click="createC()">Create</button>
<div ng-repeat="(key, value) in conversations" class="card">
 <button ng-click="archive(value, key)"> Archive</button>
    <div ng-repeat="(i, message) in value.conversation">

        <h3 ng-if="message.username !=  value.conversation[(i-1)].username">{{message.username}}</h3>
        <span ng-if="message.type == 'image'"><img src="{{message.data}}"/></span>
        <p ng-if="message.type == 'text'">{{message.data}}</p>
        <p ng-if="message.type == 'link'"><a href="{{message.data}}" target="_blank">Read More</a></p>
    </div>
    {{value._text}}
    <form ng-submit="sendMessage(value)">
        <div class="form-group">
            <label for="text" class="sr-only">Enter Message</label>
            <input type="text" class="form-control" id="text" ng-model='value._text' placeholder="Enter Message">
        </div>
        <button type="submit" class="btn btn-default" ng-click="sendMessage(value)">Submit</button>
    </form>
</div>
